﻿<%@ WebHandler Language="C#" Class="Handler" %>

using System;
using System.Web;
using DataSetTableAdapters;
using System.Configuration;

using System.Collections.Generic;
using System.Linq;
using System.Web.UI;
using System.Web.UI.WebControls;
using System.IO;

using System.Net;
using System.Text;



public class Handler : IHttpHandler {

    public void ProcessRequest (HttpContext context)
    {
        //GID: MSSS00891А1
        //var infoContent = "<div id='" + data.gidWithOutSide + "' style='width:" + size.wWidth + "px; height:" + size.wHeight + "px;'><img height='" + size.iHeight + "' width='" + size.iWidth + "' onclick='window.open(\"/MapOnline/billboardCard/image.do?GID=" + gid + "\");'
        //src='/MapOnline/billboardCard/image.do?GID=" + gid + "' /><br/>" +
        //GID: MSSS00892Б1
        //PID: 1444393
        //Request URL: https://maponline.russoutdoor.ru/MapOnline/billboardCard/image.do?GID=MSSS00892%D0%911&PID=1444393

        string sGID = context.Request.Params["GID"];

        //  string loadKey = context.Request.Params["loadKey"];

        if (context.Request.Params["GID"] == null)
        {
            sGID = "MSSS00892Б1";
        }

        var s  = TMain.Get_root_URL();

        string str = ConfigurationManager.AppSettings["jboss_url"].ToString();
        Console.WriteLine(str);

        //        string sData = File.ReadAllText(HttpContext.Current.Server.MapPath("~/json/map.json"));

        string sURL = "https://maponline.russoutdoor.ru/MapOnline/billboardCard/image.do" +
                      "?GID=" + sGID;

        // https://maponline.russoutdoor.ru/MapOnline/billboardCard/image.do?GID=MSSS00892Б1


        ServicePointManager.Expect100Continue = true;
        ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072;

        //  using ()

        //var htmlData;

        using (var oClient = new WebClient())
        {
            var htmlData = oClient.DownloadData(sURL);
            var d = oClient.ResponseHeaders;

            //  var sLoc =   oClient.ResponseHeaders["Location"];


            //            oClient.ResponseHeaders.


            context.Response.ContentType = "image/jpeg";
          //  context.Response.Headers["Location"] = "sdfsdfsdf";
            context.Response.BinaryWrite(htmlData);
        }

        //var htmlData = (new WebClient()).DownloadData(sURL);

        //        (new WebClient()).ResponseHeaders


    }

    public bool IsReusable {
        get {
            return false;
        }
    }

}

//string loadKey = context.Request.Params["loadKey"];

// if (context.Request.Params["loadKey"] == null)
// {
//     loadKey = "C6E8E81A21724F1E9ECF6314D0F55B95";
// }


// string str = ConfigurationManager.AppSettings["jboss_url"].ToString();

// //        string sData = File.ReadAllText(HttpContext.Current.Server.MapPath("~/json/map.json"));

// string sURL = "https://maponline.russoutdoor.ru/MapOnline/ClientProposal/data.do" +
//               "?loadKey=" + loadKey;



// //       https://maponline.russoutdoor.ru/MapOnline/ClientProposal/data.do?loadKey=C6E8E81A21724F1E9ECF6314D0F55B95


// ServicePointManager.Expect100Continue = true;
// ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072;

// //   string sData =  (new WebClient()).DownloadString(sURL);

// var htmlData = (new WebClient()).DownloadData(sURL);
// String sData = Encoding.UTF8.GetString(htmlData);
