﻿<%@ WebHandler Language="C#" Class="Handler" %>

using System;
using System.Web;
using DataSetTableAdapters;
using System.Configuration;

using System.Collections.Generic;
using System.Linq;
using System.Web.UI;
using System.Web.UI.WebControls;
using System.IO;



public class Handler : IHttpHandler {

    public void ProcessRequest (HttpContext context)
    {
        //$.ajax({
        //       type: "POST",
        //       url: "/MapOnline/billboardCard/imagehelp.do",
        //       dataType: "json",
        //       traditional: true,
        //       async: false,
        //       data:  {},
        //       success: function(data) {
        //           imagePath = data.image404;
        //       },
        //       error: function()
        //       {
        //           imagePath = null;
        //       }
        //   });

        // var id = context.Request.Params["id"];

        //  string str = ConfigurationManager.AppSettings["jboss_url"].ToString();

        string sData = File.ReadAllText(HttpContext.Current.Server.MapPath("~/json/imagehelp.json"));

        //        var legal = File.ReadAllText(@"C:\Legal\Legalease.txt");

        //HiddenField1.Value = data.ToString();  

        //    uploadID: ['20211215_7972CF9D7037E0B03C42BEBE50914CA9_4'],

        // if (context.Request.Params["Feature"] != null)
        //if (context.Request.Params["Feature"] != null)
        //{
        //    context.Response.Write("Hi, you picked: ");
        //    context.Response.Write(context.Request.Params["Feature"]);
        //    context.Response.Write(" as your favorite feature.</br>");
        //}

        //  var s = new sp_billboard_SELTableAdapter().Fill(111);

        context.Response.ContentType = "application/json";
        context.Response.Write(sData);
    }

    public bool IsReusable {
        get {
            return false;
        }
    }

}