﻿<%@ WebHandler Language="C#" Class="Handler" %>

using System;
using System.Web;
using DataSetTableAdapters;
using System.Configuration;

using System.Collections.Generic;
using System.Linq;
using System.Web.UI;
using System.Web.UI.WebControls;
using System.IO;
using System.Net;
using System.Text;


public class Handler : IHttpHandler {

    public void ProcessRequest (HttpContext context)
    {
        string loadKey = context.Request.Params["loadKey"];

        if (context.Request.Params["loadKey"] == null)
        {
            loadKey = "C6E8E81A21724F1E9ECF6314D0F55B95";
        }


        string str = ConfigurationManager.AppSettings["jboss_url"].ToString();

        //        string sData = File.ReadAllText(HttpContext.Current.Server.MapPath("~/json/map.json"));

        string sURL = "https://maponline.russoutdoor.ru/MapOnline/ClientProposal/data.do" +
                      "?loadKey=" + loadKey;



        //       https://maponline.russoutdoor.ru/MapOnline/ClientProposal/data.do?loadKey=C6E8E81A21724F1E9ECF6314D0F55B95


        ServicePointManager.Expect100Continue = true;
        ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072;

        //   string sData =  (new WebClient()).DownloadString(sURL);
      
        var htmlData = (new WebClient()).DownloadData(sURL);
        String sData = Encoding.UTF8.GetString(htmlData);

        //        var legal = File.ReadAllText(@"C:\Legal\Legalease.txt");

        //HiddenField1.Value = data.ToString();  

        //    uploadID: ['20211215_7972CF9D7037E0B03C42BEBE50914CA9_4'],

        // if (context.Request.Params["Feature"] != null)
        //if (context.Request.Params["Feature"] != null)
        //{
        //    context.Response.Write("Hi, you picked: ");
        //    context.Response.Write(context.Request.Params["Feature"]);
        //    context.Response.Write(" as your favorite feature.</br>");
        //}

        //  var s = new sp_billboard_SELTableAdapter().Fill(111);

        context.Response.ContentType = "application/json";
        context.Response.Write(sData);
    }

    public bool IsReusable {
        get {
            return false;
        }
    }


}


//https://maponline.russoutdoor.ru/MapOnline/ClientProposal/data.do?loadKey=C6E8E81A21724F1E9ECF6314D0F55B95

//{"servicePointsItems":[],"poiItems":[{"fontName":"Tahoma","itemName":"8","visible":true,"count":1,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903725,"poiList":[{"region":4,"id":15648880,"uploadItemID":1903725,"panels":[625289,664591,1442858,1444949],"address":"Москва, проспект Мира, 99","categoryId":0,"poiID":"5646D569696B4CE99AFB8877D223BBD9","longtitude":37.63676,"radius":4728,"latitude":55.810693}],"order":1,"color":"C1","arrowSize":5,"whiteBorder":0,"group":"group1903725","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":1,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"16","visible":true,"count":2,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903726,"poiList":[{"region":4,"id":15648884,"uploadItemID":1903726,"panels":[1444136,1444234],"address":"Москва, Большая Черкизовская улица, 11","categoryId":0,"poiID":"05D5281D2E4F4968A8F5B8F0E4A0DD54","longtitude":37.726745,"radius":4225,"latitude":55.798525},{"region":4,"id":15648886,"uploadItemID":1903726,"panels":[1441657],"address":"Москва, Лермонтовский проспект, 19","categoryId":0,"poiID":"7216104E9DD34C6693435B926D11A415","longtitude":37.853425,"radius":1377,"latitude":55.701897}],"order":9,"color":"C14","arrowSize":5,"whiteBorder":0,"group":"group1903726","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":14,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"18","visible":true,"count":2,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903728,"poiList":[{"region":4,"id":15648887,"uploadItemID":1903728,"panels":[1444136,1444234],"address":"Москва, Большая Черкизовская улица, 11","categoryId":0,"poiID":"05D5281D2E4F4968A8F5B8F0E4A0DD54","longtitude":37.726745,"radius":4225,"latitude":55.798525},{"region":4,"id":15648889,"uploadItemID":1903728,"panels":[1445789],"address":"Москва, Липецкая улица, 2к7","categoryId":0,"poiID":"08200BDEB7574129A655F47353D1C8EC","longtitude":37.663099,"radius":3529,"latitude":55.610529}],"order":7,"color":"C2","arrowSize":5,"whiteBorder":0,"group":"group1903728","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":2,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"6","visible":true,"count":1,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903729,"poiList":[{"region":4,"id":15648890,"uploadItemID":1903729,"panels":[625277,659783,664607,664617,1442296,1444393,1444578],"address":"Москва, Кутузовский проспект, 36А","categoryId":0,"poiID":"B0FD52114F0F4E279E97B8F1D2BAF5CE","longtitude":37.526187,"radius":3605,"latitude":55.738743}],"order":3,"color":"C13","arrowSize":5,"whiteBorder":0,"group":"group1903729","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":13,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"13","visible":true,"count":2,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903730,"poiList":[{"region":4,"id":15648897,"uploadItemID":1903730,"panels":[1444136,1444234],"address":"Москва, Большая Черкизовская улица, 11","categoryId":0,"poiID":"05D5281D2E4F4968A8F5B8F0E4A0DD54","longtitude":37.726745,"radius":4225,"latitude":55.798525},{"region":4,"id":15648899,"uploadItemID":1903730,"panels":[740843,1442507,1444692,1989088],"address":"Москва, Волоколамское шоссе, 98","categoryId":0,"poiID":"B7B6AEE7D0D84463B2E8939B9CCCFC98","longtitude":37.430624,"radius":4467,"latitude":55.825709}],"order":11,"color":"C11","arrowSize":5,"whiteBorder":0,"group":"group1903730","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":11,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"7","visible":true,"count":1,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903731,"poiList":[{"region":4,"id":15648903,"uploadItemID":1903731,"panels":[1441803,1445824],"address":"Москва, Волгоградский проспект, 112","categoryId":0,"poiID":"C90178CAD5234BBB94D88F8675FDFF22","longtitude":37.77679,"radius":5066,"latitude":55.703413}],"order":2,"color":"C14","arrowSize":5,"whiteBorder":0,"group":"group1903731","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":14,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"14","visible":true,"count":2,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903732,"poiList":[{"region":4,"id":15648905,"uploadItemID":1903732,"panels":[1444136,1444234],"address":"Москва, Большая Черкизовская улица, 11","categoryId":0,"poiID":"05D5281D2E4F4968A8F5B8F0E4A0DD54","longtitude":37.726745,"radius":4225,"latitude":55.798525},{"region":4,"id":15648907,"uploadItemID":1903732,"panels":[664599,1442450],"address":"Москва, проспект Маршала Жукова, 59","categoryId":0,"poiID":"2C0B1479D9AA406480D5789806CEA4FA","longtitude":37.457987,"radius":3670,"latitude":55.777758}],"order":10,"color":"C12","arrowSize":5,"whiteBorder":0,"group":"group1903732","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":12,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"2","visible":true,"count":1,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903734,"poiList":[{"region":4,"id":15648909,"uploadItemID":1903734,"panels":[1444004],"address":"Москва, шоссе Энтузиастов, 76/1","categoryId":0,"poiID":"21039EDAA5A84951ABD4F33DD061F337","longtitude":37.785971,"radius":4358,"latitude":55.76447}],"order":6,"color":"C4","arrowSize":5,"whiteBorder":0,"group":"group1903734","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":4,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"10","visible":true,"count":2,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903735,"poiList":[{"region":4,"id":15648910,"uploadItemID":1903735,"panels":[1444136,1444234],"address":"Москва, Большая Черкизовская улица, 11","categoryId":0,"poiID":"05D5281D2E4F4968A8F5B8F0E4A0DD54","longtitude":37.726745,"radius":4225,"latitude":55.798525},{"region":4,"id":15648912,"uploadItemID":1903735,"panels":[703360,1441204,1441303,1446076],"address":"Москва, Каширское шоссе, 12А","categoryId":0,"poiID":"28D0C3CEA65F4FC6A3108FD8070ECBC0","longtitude":37.628711,"radius":2794,"latitude":55.665787}],"order":14,"color":"C8","arrowSize":5,"whiteBorder":0,"group":"group1903735","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":8,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"5","visible":true,"count":1,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903736,"poiList":[{"region":4,"id":15648916,"uploadItemID":1903736,"panels":[625237,805979,1441912,1445872],"address":"Москва, Нижегородская улица, 34","categoryId":0,"poiID":"E9829682E8DA439C8F2D1B6B27642954","longtitude":37.695708,"radius":2579,"latitude":55.736351}],"order":4,"color":"C12","arrowSize":5,"whiteBorder":0,"group":"group1903736","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":12,"props":"0,5,5,10,Tahoma,1"},{"routeList":[{"id":20494229,"latitude1":55.8231604941895,"latitude2":55.8230390292714,"uploadItemID":1903737,"longtitude2":37.5730180438404,"panelID":1444893,"longtitude1":37.5730078444992},{"id":20494230,"latitude1":55.809391029252,"latitude2":55.8091200292516,"uploadItemID":1903737,"longtitude2":37.5800370438073,"panelID":1444893,"longtitude1":37.5798900438079},{"id":20494231,"latitude1":55.8101140292531,"latitude2":55.809391029252,"uploadItemID":1903737,"longtitude2":37.5798900438079,"panelID":1444893,"longtitude1":37.5795070438096},{"id":20494232,"latitude1":55.8089710292517,"latitude2":55.8089680292517,"uploadItemID":1903737,"longtitude2":37.5797530438064,"panelID":1444893,"longtitude1":37.5797710438064},{"id":20494233,"latitude1":55.8089820292517,"latitude2":55.8089710292517,"uploadItemID":1903737,"longtitude2":37.5797710438064,"panelID":1444893,"longtitude1":37.5798090438065},{"id":20494234,"latitude1":55.8089940292517,"latitude2":55.8089820292517,"uploadItemID":1903737,"longtitude2":37.5798090438065,"panelID":1444893,"longtitude1":37.5798450438066},{"id":20494235,"latitude1":55.8090070292517,"latitude2":55.8089940292517,"uploadItemID":1903737,"longtitude2":37.5798450438066,"panelID":1444893,"longtitude1":37.5798780438067},{"id":20494236,"latitude1":55.8090220292516,"latitude2":55.8090070292517,"uploadItemID":1903737,"longtitude2":37.5798780438067,"panelID":1444893,"longtitude1":37.5799100438068},{"id":20494237,"latitude1":55.8090380292516,"latitude2":55.8090220292516,"uploadItemID":1903737,"longtitude2":37.5799100438068,"panelID":1444893,"longtitude1":37.5799390438069},{"id":20494238,"latitude1":55.8090720292516,"latitude2":55.8090380292516,"uploadItemID":1903737,"longtitude2":37.5799390438069,"panelID":1444893,"longtitude1":37.5799860438071},{"id":20494239,"latitude1":55.8091200292516,"latitude2":55.8090720292516,"uploadItemID":1903737,"longtitude2":37.5799860438071,"panelID":1444893,"longtitude1":37.5800370438073},{"id":20494240,"latitude1":55.8089490292519,"latitude2":55.808953029252,"uploadItemID":1903737,"longtitude2":37.5794830438059,"panelID":1444893,"longtitude1":37.579524043806},{"id":20494241,"latitude1":55.8089480292519,"latitude2":55.8089490292519,"uploadItemID":1903737,"longtitude2":37.579524043806,"panelID":1444893,"longtitude1":37.579566043806},{"id":20494242,"latitude1":55.8089490292518,"latitude2":55.8089480292519,"uploadItemID":1903737,"longtitude2":37.579566043806,"panelID":1444893,"longtitude1":37.5796090438061},{"id":20494243,"latitude1":55.8089520292518,"latitude2":55.8089490292518,"uploadItemID":1903737,"longtitude2":37.5796090438061,"panelID":1444893,"longtitude1":37.5796500438062},{"id":20494244,"latitude1":55.8089560292518,"latitude2":55.8089520292518,"uploadItemID":1903737,"longtitude2":37.5796500438062,"panelID":1444893,"longtitude1":37.5796920438062},{"id":20494245,"latitude1":55.8089630292517,"latitude2":55.8089560292518,"uploadItemID":1903737,"longtitude2":37.5796920438062,"panelID":1444893,"longtitude1":37.5797320438064},{"id":20494246,"latitude1":55.8089680292517,"latitude2":55.8089630292517,"uploadItemID":1903737,"longtitude2":37.5797320438064,"panelID":1444893,"longtitude1":37.5797530438064},{"id":20494247,"latitude1":55.808953029252,"latitude2":55.8090480292522,"uploadItemID":1903737,"longtitude2":37.5792980438059,"panelID":1444893,"longtitude1":37.5794830438059},{"id":20494248,"latitude1":55.8090480292522,"latitude2":55.8091350292524,"uploadItemID":1903737,"longtitude2":37.579130043806,"panelID":1444893,"longtitude1":37.5792980438059},{"id":20494249,"latitude1":55.8095800292533,"latitude2":55.8096130292533,"uploadItemID":1903737,"longtitude2":37.5786780438068,"panelID":1444893,"longtitude1":37.5786790438067},{"id":20494250,"latitude1":55.8095480292533,"latitude2":55.8095800292533,"uploadItemID":1903737,"longtitude2":37.5786790438067,"panelID":1444893,"longtitude1":37.5786830438066},{"id":20494251,"latitude1":55.8095160292532,"latitude2":55.8095480292533,"uploadItemID":1903737,"longtitude2":37.5786830438066,"panelID":1444893,"longtitude1":37.5786910438065},{"id":20494252,"latitude1":55.8094840292532,"latitude2":55.8095160292532,"uploadItemID":1903737,"longtitude2":37.5786910438065,"panelID":1444893,"longtitude1":37.5787020438064},{"id":20494253,"latitude1":55.8094530292532,"latitude2":55.8094840292532,"uploadItemID":1903737,"longtitude2":37.5787020438064,"panelID":1444893,"longtitude1":37.5787170438063},{"id":20494254,"latitude1":55.8094220292531,"latitude2":55.8094530292532,"uploadItemID":1903737,"longtitude2":37.5787170438063,"panelID":1444893,"longtitude1":37.5787360438062},{"id":20494255,"latitude1":55.809392029253,"latitude2":55.8094220292531,"uploadItemID":1903737,"longtitude2":37.5787360438062,"panelID":1444893,"longtitude1":37.5787580438062},{"id":20494256,"latitude1":55.809363029253,"latitude2":55.809392029253,"uploadItemID":1903737,"longtitude2":37.5787580438062,"panelID":1444893,"longtitude1":37.5787840438061},{"id":20494257,"latitude1":55.8093160292529,"latitude2":55.809363029253,"uploadItemID":1903737,"longtitude2":37.5787840438061,"panelID":1444893,"longtitude1":37.578835043806},{"id":20494258,"latitude1":55.8092710292528,"latitude2":55.8093160292529,"uploadItemID":1903737,"longtitude2":37.578835043806,"panelID":1444893,"longtitude1":37.578895043806},{"id":20494259,"latitude1":55.8092470292527,"latitude2":55.8092710292528,"uploadItemID":1903737,"longtitude2":37.578895043806,"panelID":1444893,"longtitude1":37.578934043806},{"id":20494260,"latitude1":55.8091350292524,"latitude2":55.8092470292527,"uploadItemID":1903737,"longtitude2":37.578934043806,"panelID":1444893,"longtitude1":37.579130043806},{"id":20494261,"latitude1":55.8096600292533,"latitude2":55.8096130292533,"uploadItemID":1903737,"longtitude2":37.5786780438068,"panelID":1444893,"longtitude1":37.578758043807},{"id":20494262,"latitude1":55.8101140292531,"latitude2":55.8096600292533,"uploadItemID":1903737,"longtitude2":37.578758043807,"panelID":1444893,"longtitude1":37.5795070438096},{"id":20494263,"latitude1":55.810191029253,"latitude2":55.8101140292531,"uploadItemID":1903737,"longtitude2":37.5795070438096,"panelID":1444893,"longtitude1":37.5796390438101},{"id":20494264,"latitude1":55.8103070292529,"latitude2":55.810191029253,"uploadItemID":1903737,"longtitude2":37.5796390438101,"panelID":1444893,"longtitude1":37.5798520438108},{"id":20494265,"latitude1":55.8103210292529,"latitude2":55.8103070292529,"uploadItemID":1903737,"longtitude2":37.5798520438108,"panelID":1444893,"longtitude1":37.5798750438109},{"id":20494266,"latitude1":55.8106170292528,"latitude2":55.8103210292529,"uploadItemID":1903737,"longtitude2":37.5798750438109,"panelID":1444893,"longtitude1":37.5803660438126},{"id":20494267,"latitude1":55.8107150292532,"latitude2":55.8107420292533,"uploadItemID":1903737,"longtitude2":37.5799320438123,"panelID":1444893,"longtitude1":37.5799700438123},{"id":20494268,"latitude1":55.8106910292531,"latitude2":55.8107150292532,"uploadItemID":1903737,"longtitude2":37.5799700438123,"panelID":1444893,"longtitude1":37.5800140438122},{"id":20494269,"latitude1":55.8106690292531,"latitude2":55.8106910292531,"uploadItemID":1903737,"longtitude2":37.5800140438122,"panelID":1444893,"longtitude1":37.5800630438123},{"id":20494270,"latitude1":55.810652029253,"latitude2":55.8106690292531,"uploadItemID":1903737,"longtitude2":37.5800630438123,"panelID":1444893,"longtitude1":37.5801160438122},{"id":20494271,"latitude1":55.8106380292529,"latitude2":55.810652029253,"uploadItemID":1903737,"longtitude2":37.5801160438122,"panelID":1444893,"longtitude1":37.5801700438123},{"id":20494272,"latitude1":55.8106290292529,"latitude2":55.8106380292529,"uploadItemID":1903737,"longtitude2":37.5801700438123,"panelID":1444893,"longtitude1":37.5802260438124},{"id":20494273,"latitude1":55.8106230292529,"latitude2":55.8106290292529,"uploadItemID":1903737,"longtitude2":37.5802260438124,"panelID":1444893,"longtitude1":37.5802740438124},{"id":20494274,"latitude1":55.8106170292528,"latitude2":55.8106230292529,"uploadItemID":1903737,"longtitude2":37.5802740438124,"panelID":1444893,"longtitude1":37.5803660438126},{"id":20494275,"latitude1":55.8107420292533,"latitude2":55.8112140292541,"uploadItemID":1903737,"longtitude2":37.5795860438132,"panelID":1444893,"longtitude1":37.5799320438123},{"id":20494276,"latitude1":55.8115810292548,"latitude2":55.8117860292553,"uploadItemID":1903737,"longtitude2":37.5787750438137,"panelID":1444893,"longtitude1":37.5791050438136},{"id":20494277,"latitude1":55.8114410292545,"latitude2":55.8115810292548,"uploadItemID":1903737,"longtitude2":37.5791050438136,"panelID":1444893,"longtitude1":37.5793390438135},{"id":20494278,"latitude1":55.8113850292543,"latitude2":55.8114410292545,"uploadItemID":1903737,"longtitude2":37.5793390438135,"panelID":1444893,"longtitude1":37.5794330438135},{"id":20494279,"latitude1":55.8113510292543,"latitude2":55.8113850292543,"uploadItemID":1903737,"longtitude2":37.5794330438135,"panelID":1444893,"longtitude1":37.5794780438135},{"id":20494280,"latitude1":55.8113140292542,"latitude2":55.8113510292543,"uploadItemID":1903737,"longtitude2":37.5794780438135,"panelID":1444893,"longtitude1":37.5795170438134},{"id":20494281,"latitude1":55.8112830292542,"latitude2":55.8113140292542,"uploadItemID":1903737,"longtitude2":37.5795170438134,"panelID":1444893,"longtitude1":37.5795410438134},{"id":20494282,"latitude1":55.8112140292541,"latitude2":55.8112830292542,"uploadItemID":1903737,"longtitude2":37.5795410438134,"panelID":1444893,"longtitude1":37.5795860438132},{"id":20494283,"latitude1":55.8117860292553,"latitude2":55.8130960292573,"uploadItemID":1903737,"longtitude2":37.5780560438168,"panelID":1444893,"longtitude1":37.5787750438137},{"id":20494284,"latitude1":55.8130960292573,"latitude2":55.8131820292574,"uploadItemID":1903737,"longtitude2":37.578010043817,"panelID":1444893,"longtitude1":37.5780560438168},{"id":20494285,"latitude1":55.8131820292574,"latitude2":55.8134840292578,"uploadItemID":1903737,"longtitude2":37.5778450438177,"panelID":1444893,"longtitude1":37.578010043817},{"id":20494286,"latitude1":55.8134840292578,"latitude2":55.8142140292589,"uploadItemID":1903737,"longtitude2":37.5774400438194,"panelID":1444893,"longtitude1":37.5778450438177},{"id":20494287,"latitude1":55.8142140292589,"latitude2":55.8147340292597,"uploadItemID":1903737,"longtitude2":37.5771510438206,"panelID":1444893,"longtitude1":37.5774400438194},{"id":20494288,"latitude1":55.8172210292633,"latitude2":55.8173970292636,"uploadItemID":1903737,"longtitude2":37.5756660438266,"panelID":1444893,"longtitude1":37.5757680438262},{"id":20494289,"latitude1":55.8172170292633,"latitude2":55.8172210292633,"uploadItemID":1903737,"longtitude2":37.5757680438262,"panelID":1444893,"longtitude1":37.5757700438262},{"id":20494290,"latitude1":55.8147340292597,"latitude2":55.8172170292633,"uploadItemID":1903737,"longtitude2":37.5757700438262,"panelID":1444893,"longtitude1":37.5771510438206},{"id":20494291,"latitude1":55.8173970292636,"latitude2":55.8181300292647,"uploadItemID":1903737,"longtitude2":37.5752630438283,"panelID":1444893,"longtitude1":37.5756660438266},{"id":20494292,"latitude1":55.8181300292647,"latitude2":55.8184280292651,"uploadItemID":1903737,"longtitude2":37.575099043829,"panelID":1444893,"longtitude1":37.5752630438283},{"id":20494293,"latitude1":55.8185840292653,"latitude2":55.8187080292655,"uploadItemID":1903737,"longtitude2":37.5749470438297,"panelID":1444893,"longtitude1":37.5750140438294},{"id":20494294,"latitude1":55.8184280292651,"latitude2":55.8185840292653,"uploadItemID":1903737,"longtitude2":37.5750140438294,"panelID":1444893,"longtitude1":37.575099043829},{"id":20494295,"latitude1":55.8188940292658,"latitude2":55.8191020292661,"uploadItemID":1903737,"longtitude2":37.5747280438306,"panelID":1444893,"longtitude1":37.5748430438301},{"id":20494296,"latitude1":55.8188070292657,"latitude2":55.8188940292658,"uploadItemID":1903737,"longtitude2":37.5748430438301,"panelID":1444893,"longtitude1":37.5748920438299},{"id":20494297,"latitude1":55.8187080292655,"latitude2":55.8188070292657,"uploadItemID":1903737,"longtitude2":37.5748920438299,"panelID":1444893,"longtitude1":37.5749470438297},{"id":20494298,"latitude1":55.8191020292661,"latitude2":55.8191680292662,"uploadItemID":1903737,"longtitude2":37.5746900438307,"panelID":1444893,"longtitude1":37.5747280438306},{"id":20494299,"latitude1":55.8217160292699,"latitude2":55.8220440292703,"uploadItemID":1903737,"longtitude2":37.5732560438376,"panelID":1444893,"longtitude1":37.5733690438368},{"id":20494300,"latitude1":55.8215930292697,"latitude2":55.8217160292699,"uploadItemID":1903737,"longtitude2":37.5733690438368,"panelID":1444893,"longtitude1":37.5734160438364},{"id":20494301,"latitude1":55.8214690292696,"latitude2":55.8215930292697,"uploadItemID":1903737,"longtitude2":37.5734160438364,"panelID":1444893,"longtitude1":37.5734670438361},{"id":20494302,"latitude1":55.8213410292694,"latitude2":55.8214690292696,"uploadItemID":1903737,"longtitude2":37.5734670438361,"panelID":1444893,"longtitude1":37.5735250438358},{"id":20494303,"latitude1":55.8211620292692,"latitude2":55.8213410292694,"uploadItemID":1903737,"longtitude2":37.5735250438358,"panelID":1444893,"longtitude1":37.5736090438354},{"id":20494304,"latitude1":55.8208080292686,"latitude2":55.8211620292692,"uploadItemID":1903737,"longtitude2":37.5736090438354,"panelID":1444893,"longtitude1":37.5737850438345},{"id":20494305,"latitude1":55.8205770292683,"latitude2":55.8208080292686,"uploadItemID":1903737,"longtitude2":37.5737850438345,"panelID":1444893,"longtitude1":37.573909043834},{"id":20494306,"latitude1":55.8204330292681,"latitude2":55.8205770292683,"uploadItemID":1903737,"longtitude2":37.573909043834,"panelID":1444893,"longtitude1":37.5739910438336},{"id":20494307,"latitude1":55.8202890292678,"latitude2":55.8204330292681,"uploadItemID":1903737,"longtitude2":37.5739910438336,"panelID":1444893,"longtitude1":37.5740760438333},{"id":20494308,"latitude1":55.8194530292666,"latitude2":55.8202890292678,"uploadItemID":1903737,"longtitude2":37.5740760438333,"panelID":1444893,"longtitude1":37.5745390438314},{"id":20494309,"latitude1":55.8191680292662,"latitude2":55.8194530292666,"uploadItemID":1903737,"longtitude2":37.5745390438314,"panelID":1444893,"longtitude1":37.5746900438307},{"id":20494310,"latitude1":55.8220440292703,"latitude2":55.8221990292705,"uploadItemID":1903737,"longtitude2":37.573210043838,"panelID":1444893,"longtitude1":37.5732560438376},{"id":20494311,"latitude1":55.8224180292708,"latitude2":55.822611029271,"uploadItemID":1903737,"longtitude2":37.5731010438391,"panelID":1444893,"longtitude1":37.5731470438386},{"id":20494312,"latitude1":55.8221990292705,"latitude2":55.8224180292708,"uploadItemID":1903737,"longtitude2":37.5731470438386,"panelID":1444893,"longtitude1":37.573210043838},{"id":20494313,"latitude1":55.822611029271,"latitude2":55.8227770292712,"uploadItemID":1903737,"longtitude2":37.5730620438396,"panelID":1444893,"longtitude1":37.5731010438391},{"id":20494314,"latitude1":55.8229080292713,"latitude2":55.8230390292714,"uploadItemID":1903737,"longtitude2":37.5730180438404,"panelID":1444893,"longtitude1":37.57303604384},{"id":20494315,"latitude1":55.8227770292712,"latitude2":55.8229080292713,"uploadItemID":1903737,"longtitude2":37.57303604384,"panelID":1444893,"longtitude1":37.5730620438396}],"fontName":"Tahoma","itemName":"12","visible":true,"count":2,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903737,"poiList":[{"region":4,"id":15648920,"uploadItemID":1903737,"panels":[1444136,1444234],"address":"Москва, Большая Черкизовская улица, 11","categoryId":0,"poiID":"05D5281D2E4F4968A8F5B8F0E4A0DD54","longtitude":37.726745,"radius":4225,"latitude":55.798525},{"region":4,"id":15648922,"uploadItemID":1903737,"panels":[1444893],"address":"Москва, Дмитровское шоссе, 21к2","categoryId":0,"poiID":"EDAD9522445742BDB0BEB1F0D19B9A3D","longtitude":37.571857,"radius":2949,"latitude":55.823115}],"order":12,"color":"C10","arrowSize":5,"whiteBorder":0,"group":"group1903737","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":10,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"4","visible":true,"count":1,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903738,"poiList":[{"region":4,"id":15648923,"uploadItemID":1903738,"panels":[1441204,1445789],"address":"Москва, Варшавское шоссе, 94","categoryId":0,"poiID":"A4BC400EE20C42C38DD889DAD33578B8","longtitude":37.618659,"radius":4474,"latitude":55.647193}],"order":5,"color":"C11","arrowSize":5,"whiteBorder":0,"group":"group1903738","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":11,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"11","visible":true,"count":2,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903739,"poiList":[{"region":4,"id":15648925,"uploadItemID":1903739,"panels":[1444136,1444234],"address":"Москва, Большая Черкизовская улица, 11","categoryId":0,"poiID":"05D5281D2E4F4968A8F5B8F0E4A0DD54","longtitude":37.726745,"radius":4225,"latitude":55.798525},{"region":4,"id":15648927,"uploadItemID":1903739,"panels":[703375],"address":"Москва, Ленинградское шоссе, 36к1","categoryId":0,"poiID":"6A6689FB22AC4154A5184EC47580C5F2","longtitude":37.489347,"radius":612,"latitude":55.830326}],"order":13,"color":"C9","arrowSize":5,"whiteBorder":0,"group":"group1903739","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":9,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"1","visible":true,"count":1,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903740,"poiList":[{"region":4,"id":15648928,"uploadItemID":1903740,"panels":[1444136,1444234],"address":"Москва, Большая Черкизовская улица, 11","categoryId":0,"poiID":"05D5281D2E4F4968A8F5B8F0E4A0DD54","longtitude":37.726745,"radius":4225,"latitude":55.798525}],"order":0,"color":"C8","arrowSize":5,"whiteBorder":0,"group":"group1903740","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":8,"props":"0,5,5,10,Tahoma,1"},{"fontName":"Tahoma","itemName":"17","visible":true,"count":2,"visibleLines":true,"pointSize":5,"fontType":1,"state":7,"code":"POI","fontSize":10,"itemId":1903741,"poiList":[{"region":4,"id":15648930,"uploadItemID":1903741,"panels":[1444136,1444234],"address":"Москва, Большая Черкизовская улица, 11","categoryId":0,"poiID":"05D5281D2E4F4968A8F5B8F0E4A0DD54","longtitude":37.726745,"radius":4225,"latitude":55.798525},{"region":4,"id":15648932,"uploadItemID":1903741,"panels":[1444432],"address":"Москва, Мичуринский проспект, 54А","categoryId":0,"poiID":"FE6AFED81F984E418191E3F42D2DB38A","longtitude":37.490587,"radius":1526,"latitude":55.693906}],"order":8,"color":"C1","arrowSize":5,"whiteBorder":0,"group":"group1903741","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":true,"colorCode":1,"props":"0,5,5,10,Tahoma,1"}],"overlay":null,"zoom":"11","legend":[{"fontName":"Tahoma","count":1,"originalLoadName":"C6E8E81A21724F1E9ECF6314D0F55B95_1903733","visible":true,"visibleLines":false,"pointSize":5,"segment":1,"fontType":0,"state":1,"billboards":[{"noLight":1,"isCloned":0,"type":1,"digital":false,"kind":"5x15                ","angle":64,"areaId":2,"bookAvailableDateStr":"","id":1989088,"selected":true,"grp":0,"roundedAngle":60,"campID":2238474,"side":"А","address":"МКАД 71км, внешняя сторона (с.п. Отрадненское, вблизи д. Путилково)","name":"МКАД 71км, внешняя сторона (с.п. Отрадненское, вблизи д. Путилково)","mounting":0,"gid":"MOSS00034А1","ots":0,"longtitude":37.39865,"latitude":55.861607,"light":0,"extNumber":"0","imageURL":"//images.russoutdoor.ru/panelFotos/199/1989088-info.jpg"}],"type":{"id":1,"name":"Супер сайт","code":"SS"},"city":{"id":2,"englishName":"Moscow region","groupID":1,"ownerID":1,"name":"Московская область","idCode":"MO","longtitude":37.5835418701172,"latitude":55.7321410281316,"code":"МО"},"order":0,"arrowSize":5,"whiteBorder":0,"regionCode":"MO","itemName":"ATugolukova Stilnye Kuhni 01-03/22 MS SS (S)","code":"CMP","fontSize":10,"itemId":1903733,"campId":2238474,"color":"C1","group":"group1903733","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":false,"colorCode":1,"props":"0,5,5,10,Tahoma,0"},{"fontName":"Tahoma","count":34,"originalLoadName":"C6E8E81A21724F1E9ECF6314D0F55B95_1903727","visible":true,"visibleLines":false,"pointSize":5,"segment":1,"fontType":0,"state":1,"billboards":[{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":70,"areaId":4,"bookAvailableDateStr":"","id":664591,"selected":true,"grp":1.93,"roundedAngle":70,"campID":2238474,"side":"А","address":"Мира пр-т, X с Останкинским пр-дом  (Digital), (ВВЦ, кинотеатр \"Космос\")","name":"Мира пр-т зел. островок при перес. с 1-ой Останкинской ул.","mounting":0,"gid":"MSSS00117А1","ots":199.24,"longtitude":37.638775,"latitude":55.819054,"light":0,"extNumber":"9370","imageURL":"//images.russoutdoor.ru/panelFotos/67/664591-info.jpg","subAreaId":9},{"restrictions":"Ню,","noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":322,"areaId":4,"bookAvailableDateStr":"","id":625289,"selected":true,"grp":1.31,"roundedAngle":320,"campID":2238474,"side":"А","address":"ТТК, Север, внешняя, 750 м до съезда на пр-т Мира (Digital), (а/с \"Lexus\", \"Toyota\")","name":"Рижская эстакада 30 м д/п с ул. Сокольнический Вал спава при","mounting":0,"gid":"MSSS00137А1","ots":135.2,"longtitude":37.65229,"latitude":55.79355,"light":0,"extNumber":"9269","imageURL":"//images.russoutdoor.ru/panelFotos/63/625289-info.jpg","subAreaId":6},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":319,"areaId":4,"bookAvailableDateStr":"","id":664617,"selected":true,"grp":1.12,"roundedAngle":320,"campID":2238474,"side":"Б","address":"ТТК, Юго-запад, внешняя, X с Комсомольским пр-том (Digital), (СК \"Лужники\")","name":"3-е ТК внеш/ст поз.13, от Комсомольского пр-та до Пушкинско","mounting":0,"gid":"MSSS00146Б1","ots":114.9,"longtitude":37.569336,"latitude":55.717323,"light":0,"extNumber":"61336","imageURL":"//images.russoutdoor.ru/panelFotos/67/664617-info.jpg","subAreaId":11},{"restrictions":"Ню,","noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":304,"areaId":4,"bookAvailableDateStr":"","id":625277,"selected":true,"grp":1.19,"roundedAngle":300,"campID":2238474,"side":"Б","address":"ТТК, Юго-запад, внешняя, Лужнецкая наб.-Лужнецкий пр-д (Digital), (ГЦКЗ \"Россия\", СК \"Лужники\")","name":"3-е ТК внеш/ст поз. 7 от Лужнецкой наб. до Лужнецкого пр-да","mounting":0,"gid":"MSSS00150Б1","ots":122.7,"longtitude":37.550323,"latitude":55.724155,"light":0,"extNumber":"61334","imageURL":"//images.russoutdoor.ru/panelFotos/63/625277-info.jpg","subAreaId":11},{"restrictions":"Ню,","noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":185,"areaId":4,"bookAvailableDateStr":"","id":625237,"selected":true,"grp":1.7,"roundedAngle":180,"campID":2238474,"side":"А","address":"ТТК, Юго-восток, внешняя, Х с Волгоградским пр-том (Digital), (а/с \"РОЛЬФ Toyota\", \"РОЛЬФ Lexus\")","name":"3-е ТК внеш/ст поз.46 д/п с Волгоградским пр-том","mounting":0,"gid":"MSSS00173А1","ots":174.74,"longtitude":37.701385,"latitude":55.71976,"light":0,"extNumber":"9448","imageURL":"//images.russoutdoor.ru/panelFotos/63/625237-info.jpg","subAreaId":12},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":259,"areaId":4,"bookAvailableDateStr":"","id":740843,"selected":true,"grp":1.43,"roundedAngle":260,"campID":2238474,"side":"А","address":"МКАД, внутренняя, 64,80 км, Х с Мякиниским пр-дом, съезд в Строгино  (Digital), ( \"Ашан\", \"Леруа Мерлен\", \"Твой Дом\", ТЦ \"Vegas\")","name":"Развязка МКАД и Новорижского ш. (Строгино) 64,8 км поз. 21","mounting":0,"gid":"MSSS00244А1","ots":147.51,"longtitude":37.388805,"latitude":55.808422,"light":0,"extNumber":"61330","imageURL":"//images.russoutdoor.ru/panelFotos/75/740843-info.jpg","subAreaId":10},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":298,"areaId":4,"bookAvailableDateStr":"","id":659783,"selected":true,"grp":1.32,"roundedAngle":300,"campID":2238474,"side":"Б","address":"ТТК, Запад, внешняя, 250 м после съезда с Кутузовского пр-та (Digital)","name":"3-е ТК внеш/ст справа 95 м от 1-й Сетуньский пр-д вл.10 г стр.1 (между разворотной дорогой под ТТК и подэстакадной парковкой)","mounting":0,"gid":"MSSS00372Б1","ots":135.69,"longtitude":37.541252,"latitude":55.735027,"light":0,"extNumber":"61384","imageURL":"//images.russoutdoor.ru/panelFotos/66/659783-info.jpg","subAreaId":7},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":95,"areaId":4,"bookAvailableDateStr":"","id":703360,"selected":true,"grp":1.55,"roundedAngle":90,"campID":2238474,"side":"А","address":"Каширское ш.  14, Х с Коломенским пр-дом (Digital), (ТРЦ \"Гудзон\", ТЦ \"Каширский двор\" н-в)","name":"Каширское ш.  12/1","mounting":0,"gid":"MSSS00382А1","ots":159.33,"longtitude":37.629726,"latitude":55.66464,"light":0,"extNumber":"61394","imageURL":"//images.russoutdoor.ru/panelFotos/71/703360-info.jpg","subAreaId":14},{"restrictions":"Информация 18+,","noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":210,"areaId":4,"bookAvailableDateStr":"","id":664599,"selected":true,"grp":1.25,"roundedAngle":210,"campID":2238474,"side":"Б","address":"Жукова Маршала пр-т  76, Живописный мост (Digital)","name":"Жукова Маршала пр-т, дом  76 (Живописный Мост) (Digital)","mounting":0,"gid":"MSSS00387Б1","ots":128.74,"longtitude":37.45121,"latitude":55.779213,"light":0,"extNumber":"61399","imageURL":"//images.russoutdoor.ru/panelFotos/67/664599-info.jpg","subAreaId":10},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":80,"areaId":4,"bookAvailableDateStr":"","id":664607,"selected":true,"grp":1.14,"roundedAngle":80,"campID":2238474,"side":"Б","address":"ТТК, Запад, внутренняя, X со Звенигородским ш. (Digital)","name":"3-е ТК внут/ст справа в 10 м п/п с эст. Звенигородского ш.","mounting":0,"gid":"MSSS00424Б1","ots":117.8,"longtitude":37.538113,"latitude":55.766476,"light":0,"extNumber":"61349","imageURL":"//images.russoutdoor.ru/panelFotos/67/664607-info.jpg","subAreaId":10},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 15 x 5 m    ","angle":305,"areaId":4,"bookAvailableDateStr":"","id":805979,"selected":true,"grp":1.22,"roundedAngle":300,"campID":2238474,"side":"Б","address":"ТТК, Юго-Восток, внутренняя, 440 м после Х с ул. Нижегородской (Digital)","name":"3-е тр/кольцо внутренняя сторона Средняя Калитниковская ул. 51 корп. 1","mounting":0,"gid":"MSSS00718Б1","ots":125.46,"longtitude":37.70187,"latitude":55.732845,"light":0,"extNumber":"61451","imageURL":"//images.russoutdoor.ru/panelFotos/81/805979-info.jpg","subAreaId":12},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":126,"areaId":4,"bookAvailableDateStr":"","id":1444432,"selected":true,"grp":1.11,"roundedAngle":130,"campID":2238474,"side":"Б","address":"Аминьевское ш.   2/1, 600 м до съезда на пр-т Генерала Дорохова (Digital)","name":"Аминьевское ш., д.2/1 в сторону Мичуринского пр-та (B) (Digital)","mounting":0,"gid":"MSSS00804Б1","ots":113.94,"longtitude":37.466324,"latitude":55.695015,"light":0,"extNumber":"8582","imageURL":"//images.russoutdoor.ru/panelFotos/145/1444432-info.jpg","subAreaId":7},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":108,"areaId":4,"bookAvailableDateStr":"","id":1444893,"selected":true,"grp":2.18,"roundedAngle":110,"campID":2238474,"side":"Б","address":"Бутырская ул.  86, съезд на ул. Руставели (Digital)","name":"Бутырская ул. Д. 86 (B) (Digital)","mounting":0,"gid":"MSSS00808Б1","ots":224.16,"longtitude":37.58095,"latitude":55.808517,"light":0,"extNumber":"8586","imageURL":"//images.russoutdoor.ru/panelFotos/145/1444893-info.jpg","subAreaId":9},{"restrictions":"Информация 18+,Безалкогольное пиво,","noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":60,"areaId":4,"bookAvailableDateStr":"","id":1441204,"selected":true,"grp":1.02,"roundedAngle":60,"campID":2238474,"side":"А","address":"Варшавское ш.  46А, 600 м до X с Нахимовским пр-том (Digital)","name":"Варшавское ш., д.48 (A) из центра (Digital)","mounting":0,"gid":"MSSS00809А1","ots":105.21,"longtitude":37.623455,"latitude":55.66818,"light":0,"extNumber":"8587","imageURL":"//images.russoutdoor.ru/panelFotos/145/1441204-info.jpg","subAreaId":14},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":238,"areaId":4,"bookAvailableDateStr":"","id":1441303,"selected":true,"grp":1,"roundedAngle":240,"campID":2238474,"side":"А","address":"Варшавское ш.  56 н-в, 300 м после X с Нахимовским пр-том (Digital)","name":"Варшавское шоссе, н-в д.52, 500 м. после развилки с Каширским шоссе (A) в центр (Digital)","mounting":0,"gid":"MSSS00810А1","ots":102.68,"longtitude":37.62224,"latitude":55.665524,"light":0,"extNumber":"8588","imageURL":"//images.russoutdoor.ru/panelFotos/145/1441303-info.jpg","subAreaId":14},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":150,"areaId":4,"bookAvailableDateStr":"","id":1445824,"selected":true,"grp":2.33,"roundedAngle":150,"campID":2238474,"side":"Б","address":"Волгоградский пр-т  49, съезд с ул. Люблинская (Digital)","name":"Волгоградский пр-т, д.49, м. «Текстильщики» (B) из центра (Digital)","mounting":0,"gid":"MSSS00814Б1","ots":240.22,"longtitude":37.729546,"latitude":55.70975,"light":0,"extNumber":"8592","imageURL":"//images.russoutdoor.ru/panelFotos/145/1445824-info.jpg","subAreaId":12},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":258,"areaId":4,"bookAvailableDateStr":"","id":1441657,"selected":true,"grp":1.23,"roundedAngle":260,"campID":2238474,"side":"А","address":"МКАД, внешняя, 8 км, 200 м после Х с Лермонтовским пр-том (Digital)","name":"МКАД (внешняя сторона)  8 км (между Лермонтовским пр-том и Новоухтомским ш.,) Казанское напр. (Лист схемы \"Восток\"133,№438)","mounting":0,"gid":"MSSS00843А1","ots":127.03,"longtitude":37.836613,"latitude":55.70987,"light":0,"extNumber":"8622","imageURL":"//images.russoutdoor.ru/panelFotos/145/1441657-info.jpg","subAreaId":12},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":18,"areaId":4,"bookAvailableDateStr":"","id":1445872,"selected":true,"grp":1.88,"roundedAngle":20,"campID":2238474,"side":"Б","address":"Нижегородская ул.  50, X с ТТК ( ТЦ \"ТРИ-D\"), (Digital)","name":"Нижегородская улица, н-в д.50, пересечение с ТТК (B) в центр (Digital)","mounting":0,"gid":"MSSS00849Б1","ots":193.7,"longtitude":37.700207,"latitude":55.735954,"light":0,"extNumber":"8628","imageURL":"//images.russoutdoor.ru/panelFotos/145/1445872-info.jpg","subAreaId":12},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":306,"areaId":4,"bookAvailableDateStr":"","id":1444578,"selected":true,"grp":1.26,"roundedAngle":310,"campID":2238474,"side":"Б","address":"ТТК, Запад, внешняя, съезд с Кутузовского пр-та (Digital)","name":"3-е тр/ кольцо съезд с Кутузовского пр-та на ТТК 450 м  МОЖД, Белорусское напр. (грузовой ход), Центр 067 РК№337","mounting":0,"gid":"MSSS00874Б1","ots":129.69,"longtitude":37.538055,"latitude":55.736782,"light":0,"extNumber":"8653","imageURL":"//images.russoutdoor.ru/panelFotos/145/1444578-info.jpg","subAreaId":7},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":222,"areaId":4,"bookAvailableDateStr":"","id":1441912,"selected":true,"grp":1.97,"roundedAngle":220,"campID":2238474,"side":"А","address":"ТТК, Юг, внешняя, 170 м после Х с Южнопортовой ул. (Digital)","name":"Угрешская ул.  1 стр. 1 100 метров до съезда на ТТК, внешняя сторона, Шарикоподшипниковский путепровод (Digital)","mounting":0,"gid":"MSSS00875А1","ots":203.32,"longtitude":37.68258,"latitude":55.71439,"light":0,"extNumber":"8654","imageURL":"//images.russoutdoor.ru/panelFotos/145/1441912-info.jpg","subAreaId":12},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":198,"areaId":4,"bookAvailableDateStr":"","id":1444004,"selected":true,"grp":2.41,"roundedAngle":200,"campID":2238474,"side":"А","address":"Энтузиастов ш.  26-28, 180 м после Х с ул. Авиамоторная (Digital)","name":"Энтузиастов шоссе, д.28-26 (A) из центра (Digital)","mounting":0,"gid":"MSSS00886А1","ots":248.03,"longtitude":37.720097,"latitude":55.75185,"light":0,"extNumber":"8862","imageURL":"//images.russoutdoor.ru/panelFotos/145/1444004-info.jpg","subAreaId":6},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":36,"areaId":4,"bookAvailableDateStr":"","id":1442858,"selected":true,"grp":1.21,"roundedAngle":40,"campID":2238474,"side":"А","address":"Ярославское ш.   1А, 200 м после съезда на пр-д Серебрякова (Digital)","name":"Ярославское шоссе, н-в д.2, пр. Серебрякова пер. с Летчика Бабушкина ул. (A) в центр (Digital)","mounting":0,"gid":"MSSS00887А1","ots":124.47,"longtitude":37.672585,"latitude":55.8481,"light":0,"extNumber":"8863","imageURL":"//images.russoutdoor.ru/panelFotos/145/1442858-info.jpg","subAreaId":9},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":330,"areaId":4,"bookAvailableDateStr":"","id":1445789,"selected":true,"grp":1.04,"roundedAngle":330,"campID":2238474,"side":"Б","address":"Каширское ш.  49-51 н-в, 50 м после Х с ул. Каспийская (Digital)","name":"Каширское шоссе д.49, Сабурово (В) в центр (Digital)","mounting":0,"gid":"MSSS00888Б1","ots":107.32,"longtitude":37.688335,"latitude":55.63886,"light":0,"extNumber":"8864","imageURL":"//images.russoutdoor.ru/panelFotos/145/1445789-info.jpg","subAreaId":14},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":276,"areaId":4,"bookAvailableDateStr":"","id":1444949,"selected":true,"grp":1.26,"roundedAngle":280,"campID":2238474,"side":"Б","address":"Мира пр-т  81Бс1, 100 м после Х с Мурманским пр-дом (Digital)","name":"Мира пр-т 81 Б стр.1 (Крестовский путепровод) (B) из центра (Digital)","mounting":0,"gid":"MSSS00889Б1","ots":129.72,"longtitude":37.634712,"latitude":55.79867,"light":0,"extNumber":"8865","imageURL":"//images.russoutdoor.ru/panelFotos/145/1444949-info.jpg","subAreaId":9},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":354,"areaId":4,"bookAvailableDateStr":"","id":1442450,"selected":true,"grp":0.9,"roundedAngle":350,"campID":2238474,"side":"А","address":"Звенигородское ш., после Х с ул. 4-я Магистральная (Digital)","name":"Звенигородское шоссе, 3-я Магистральная ул., из центра (A) (Digital)","mounting":0,"gid":"MSSS00891А1","ots":92.51,"longtitude":37.514675,"latitude":55.769367,"light":0,"extNumber":"8867","imageURL":"//images.russoutdoor.ru/panelFotos/145/1442450-info.jpg","subAreaId":11},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":318,"areaId":4,"bookAvailableDateStr":"","id":1444393,"selected":true,"grp":0.93,"roundedAngle":320,"campID":2238474,"side":"Б","address":"Минская ул., X c пр-том Генерала Дорохова (Digital)","name":"Минская ул., при движении к Кутузовскому пр-ту, слева (B)ж/д.путепроводом) (Digital)","mounting":0,"gid":"MSSS00892Б1","ots":95.66,"longtitude":37.49858,"latitude":55.722397,"light":0,"extNumber":"8868","imageURL":"//images.russoutdoor.ru/panelFotos/145/1444393-info.jpg","subAreaId":7},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":30,"areaId":4,"bookAvailableDateStr":"","id":1444234,"selected":true,"grp":1.11,"roundedAngle":30,"campID":2238474,"side":"Б","address":"Черкизовская Б. ул.  32к1, 200 м до Х с СВХ (ТЦ \"Новочеркизовский\")  (Digital)","name":"Большая Черкизовская ул., д.32 (B) в центр (Digital)","mounting":0,"gid":"MSSS00894Б1","ots":114.05,"longtitude":37.745792,"latitude":55.80096,"light":0,"extNumber":"8870","imageURL":"//images.russoutdoor.ru/panelFotos/145/1444234-info.jpg","subAreaId":6},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":84,"areaId":4,"bookAvailableDateStr":"","id":1442296,"selected":true,"grp":1.11,"roundedAngle":80,"campID":2238474,"side":"А","address":"ТТК, Запад, внешняя, 400 м после Х со Шмитовским пр-дом (Москва-Сити), (Digital)","name":"ТТК, СИТИ (МКЖД Тестовская) (A) внешнее (Digital)","mounting":0,"gid":"MSSS00895А1","ots":114.41,"longtitude":37.530315,"latitude":55.752384,"light":0,"extNumber":"8871","imageURL":"//images.russoutdoor.ru/panelFotos/145/1442296-info.jpg","subAreaId":11},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":150,"areaId":4,"bookAvailableDateStr":"","id":1441803,"selected":true,"grp":1.3,"roundedAngle":150,"campID":2238474,"side":"А","address":"Рязанский пр-т   4А (Digital)","name":"Рязанский пр-т, д. 6/1 (A) из центра (Digital)","mounting":0,"gid":"MSSS00896А1","ots":134.37,"longtitude":37.752583,"latitude":55.72819,"light":0,"extNumber":"8872","imageURL":"//images.russoutdoor.ru/panelFotos/145/1441803-info.jpg","subAreaId":6},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":108,"areaId":4,"bookAvailableDateStr":"","id":1442507,"selected":true,"grp":0.8,"roundedAngle":110,"campID":2238474,"side":"А","address":"Пятницкое ш., 400 м до Х с МКАД (Digital)","name":"Волоколамское шоссе, пер. с Пятницким ш. (А) в центр (Digital)","mounting":0,"gid":"MSSS00897А1","ots":82.37,"longtitude":37.389,"latitude":55.8336,"light":0,"extNumber":"8873","imageURL":"//images.russoutdoor.ru/panelFotos/145/1442507-info.jpg","subAreaId":10},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":132,"areaId":4,"bookAvailableDateStr":"","id":1444136,"selected":true,"grp":1.13,"roundedAngle":130,"campID":2238474,"side":"Б","address":"ТТК, Северо-Восток, внешняя, 450 м после съезда с ул. Русаковская (ТЦ \"Тройка\"), (Digital)","name":"ТТК, Сокольники, Митьковский тоннель (B) внешнее (Digital)","mounting":0,"gid":"MSSS00898Б1","ots":116.38,"longtitude":37.662365,"latitude":55.787083,"light":0,"extNumber":"8874","imageURL":"//images.russoutdoor.ru/panelFotos/145/1444136-info.jpg","subAreaId":6},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":102,"areaId":4,"bookAvailableDateStr":"","id":1446076,"selected":true,"grp":1.88,"roundedAngle":100,"campID":2238474,"side":"Б","address":"Варшавское ш.  35А, Х с Нагорным пр-дом (светофор), (Digital)","name":"Варшавское шоссе, д. 35а (B) из центра (Digital)","mounting":0,"gid":"MSSS00899Б1","ots":193.38,"longtitude":37.622574,"latitude":55.690647,"light":0,"extNumber":"8875","imageURL":"//images.russoutdoor.ru/panelFotos/145/1446076-info.jpg","subAreaId":14},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"СС/ЭКРАН(5х15)","angle":30,"areaId":4,"bookAvailableDateStr":"","id":1444692,"selected":true,"grp":1.07,"roundedAngle":30,"campID":2238474,"side":"Б","address":"Волоколамское ш.  15/22, 50 м до Х с ул. Панфилова (Digital)","name":"Волоколамское шоссе, пер. с ул. Панфилова (B) из центра (Digital)","mounting":0,"gid":"MSSS00900Б1","ots":110.66,"longtitude":37.489372,"latitude":55.809704,"light":0,"extNumber":"8876","imageURL":"//images.russoutdoor.ru/panelFotos/145/1444692-info.jpg","subAreaId":8},{"noLight":-1,"isCloned":0,"type":1,"digital":false,"kind":"Digital 12 x 4 m    ","angle":110,"areaId":4,"bookAvailableDateStr":"","id":703375,"selected":true,"grp":1.35,"roundedAngle":110,"campID":2238474,"side":"А","address":"Ленинградское ш.  23Д, 400 м до съезда на Новопетровский пр-д  (Digital), (ТРЦ \"Метрополис\" н-в)","name":"Ленинградское ш.  д 23","mounting":0,"gid":"MSSS10380А1","ots":139.46,"longtitude":37.4924,"latitude":55.825092,"light":0,"extNumber":"61392","imageURL":"//images.russoutdoor.ru/panelFotos/71/703375-info.jpg","subAreaId":8}],"type":{"id":1,"name":"Супер сайт","code":"SS"},"city":{"id":4,"englishName":"Moscow","groupID":1,"ownerID":1,"name":"Москва","idCode":"MS","longtitude":37.6041412353516,"latitude":55.7414144091527,"code":"Москва"},"order":1,"arrowSize":5,"whiteBorder":0,"regionCode":"MS","itemName":"ATugolukova Stilnye Kuhni 01-03/22 MS SS (S)","code":"CMP","fontSize":10,"itemId":1903727,"campId":2238474,"color":"C2","group":"group1903727","loadKey":"C6E8E81A21724F1E9ECF6314D0F55B95","visibleNames":false,"colorCode":2,"props":"0,5,5,10,Tahoma,0"}],"polygonItems":[],"city":{"id":2,"englishName":"Moscow region","groupID":1,"ownerID":1,"name":"Московская область","idCode":"MO","longtitude":37.5835418701172,"latitude":55.7321410281316,"code":"МО"}}
/*

 * 
 * 
 * e.russoutdoor.ru/MapOnline/ClientProposal/data.do?uploadID=&tabID=0&c=&loadKey=C6E8E81A21724F1E9ECF6314D0F55B95&bids=&regionId=&latitude=55.7414144091527&longtitude=37.6041412353516&zoom=11&locale=ru_RU
https://maponline.russoutdoor.ru/MapOnline/ClientProposal/data.do?loadKey=C6E8E81A21724F1E9ECF6314D0F55B95

string lo
 * 
 * 
 * 
 * adKey = "C6E8E81A21724F1E9ECF6314D0F55B95";
    string sURL = "https://maponline.russoutdoor.ru/MapOnline/ClientProposal/data.do?loadKey=" + loadKey;// + "&tabID=3";


    ServicePointManager.Expect100Continue = true;
    ServicePointManager.SecurityProtocol = (SecurityProtocolType)3072;

    var s =  (new WebClient()).DownloadString(sURL);

    TextBox1.Text = s;



function loadData() {
$.ajax({
    type: 'GET',
    async: false,
    url: '/Handlers/ClientProposal_data.ashx',                    
//                    url: '/json/map.json',
//                    url: '/MapOnline/ClientProposal/data.do',

    traditional: true,
    data: {
        uploadID: ['C6E8E81A21724F1E9ECF6314D0F55B95'],
        tabID: '3',
        c: '',
        loadKey: '',
        bids: '',
        regionId: '',
        latitude: norMap.map.lat(norMap.map.getCenter()),
        longtitude: norMap.map.lng(norMap.map.getCenter()),
        zoom: Ext.getCmp('zoom').getValue(),
        locale: locale
    },

*/