﻿<%@ WebHandler Language="C#" Class="Handler" %>

using System;
using System.Web;
using DataSetTableAdapters;
using System.Configuration;


public class Handler : IHttpHandler {

    public void ProcessRequest (HttpContext context)
    {
        var id = context.Request.Params["id"];

        string str = ConfigurationManager.AppSettings["message"].ToString();

        // if (context.Request.Params["Feature"] != null)
        //if (context.Request.Params["Feature"] != null)
        //{
        //    context.Response.Write("Hi, you picked: ");
        //    context.Response.Write(context.Request.Params["Feature"]);
        //    context.Response.Write(" as your favorite feature.</br>");
        //}

        var s = new sp_billboard_SELTableAdapter().Fill(111);

        context.Response.ContentType = "application/json";
        context.Response.Write(s);
    }

    public bool IsReusable {
        get {
            return false;
        }
    }

}