﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    <p>
        <a href="Handler_billboard.ashx?id=3333">Handler_billboard.ashx?id=3333</a></p>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click1" Text="ClientProposal" />
        <p>
            <asp:TextBox ID="TextBox1" runat="server" Height="261px" Rows="100" TextMode="MultiLine" Width="885px"></asp:TextBox>
        </p>
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="https://maponline.russoutdoor.ru/MapOnline/ClientProposal/data.do?uploadID=20211215_7972CF9D7037E0B03C42BEBE50914CA9_4">https://maponline.russoutdoor.ru/MapOnline/ClientProposal/data.do?uploadID=20211215_7972CF9D7037E0B03C42BEBE50914CA9_4</asp:HyperLink>
    </form>
    </body>
</html>
